@font-face {
    font-family: "Circular";
    src: url("font/CircularStd-Book.woff");
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Circular";
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
#root {
  overflow: auto;
}
a {
  color: #fff;
  text-decoration: none;
  color: #5ed856;
}
a:hover {
  color: #4BAC44;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.login-header {
  font-size: 56px;
  color: #000;
}
.login .description {
  padding-bottom: 20px;
  color: #000;
  opacity: 0.6;
}

.login .button {
  color: #000;

  background: #3de76e;
  border: 1px solid #3de76e;
  margin-top: 20px;
}
.login .button:hover {
  background: none;
  border: 1px solid rgba(255,255,255,0.7);
}
.background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3de76e+2,3de76e+25,53fcda+100 */
  background: #3de76e; /* Old browsers */
  background: -moz-linear-gradient(left,  #3de76e 2%, #3de76e 25%, #53fcda 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #3de76e 2%,#3de76e 25%,#53fcda 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #3de76e 2%,#3de76e 25%,#53fcda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3de76e', endColorstr='#53fcda',GradientType=1 ); /* IE6-9 */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 1;
  overflow: hidden;
}
.image {
  width: 234px;
  height: 234px;
  position: absolute;
  background-size: cover;
}
.i1 {
  background: url("images/albums/01.png") no-repeat;
  background-size: cover;
  bottom: 50px;
  right: 0px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.i2 {
  background: url("images/albums/02.png") no-repeat;
  background-size: cover;
  top: 0px;
  right: 200px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.i3 {
  background: url("images/albums/03.png") no-repeat;
  background-size: cover;
  bottom: -100px;
  left: 200px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.i4 {
  background: url("images/albums/04.png") no-repeat;
  background-size: cover;
  top: -50px;
  left: 100px;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
  transform: rotate(-12deg);
}
.i5 {
  background: url("images/albums/05.png") no-repeat;
  background-size: cover;
  top: 200px;
  right: -150px;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}
.i6 {
  background: url("images/albums/06.png") no-repeat;
  background-size: cover;
  bottom: 200px;
  left: -100px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  cursor: pointer;
}
.content div {
  margin: 20px;
}

.percent {
  font-size: 200px;
  margin: 0 !important;
  padding: 0 !important;
}

.intro {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}


.main {
  background-color: #000000;
  position: relative;
  min-width: 100%;
  height: 100%;
}

.grid-outer {
  font-size: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.grid-header {
  height: 120px;
}

.grid-body {
  flex: 1;
  padding-bottom: 30px;
}

.grid-col {
  float: left;
  min-height: 120px;
  width: 180px;
}

.grid-artist-name {
  color: #fff;
  display: block;
  font-size: 20px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  background: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 180px;
}
.grid-artist-name:hover {
  opacity: 0.5;
}

.grid-cell-wrapper {
  position: relative;
}

.grid-cell {
  display: inline-block;
  background-size: contain;
  width: 115px;
  height: 115px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 2px;
  border-radius: 100px;
}

.grid-cell:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
  z-index: 2;
  opacity: 1;
}
.grid-cell:hover + .grid-cell-label {
  opacity: 1;
}

.grid-cell:hover .grid-cell-label {
  opacity: 1;
}
.grid-cell-label {
  height: 20px;
  display: block;
}
.label {
  height: 20px;
  display: block;
  overflow: hidden;
}
.number {
  opacity: 0.5;
  font-size: 10px;
}
.selected {
  opacity: 1;
}

.unselected {
  opacity: 0.2;
}
.selectedLabel {
  opacity: 1;
}
.unselectedLabel {
  opacity: 0.3;
}

.grid-cell-label {
  color: #ffffff;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  transition: opacity 0.1s linear;
}


.grid-cell-tick {
  position: absolute;
  margin-left: 140px;
  margin-top: -100px;
  height: 20px;
  width: 20px;
  background-color: #4BAC44;
  background-position: center center;
  background-image: url(images/tick.png);
  background-size: 13px 9px;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.menu-button-link {
  position: fixed;
  bottom: 20px;
  left: 30px;
  height: 64px;
  z-index: 3;
  display: block;
  cursor: pointer;
  font-size: 40px;
  color: #5ed856;
}
.menu-button-link:hover {
  opacity: 0.5;
}

.menu-header, .menu-cancel a {
  text-decoration: underline;
}

.select-button-link {
  left: 80px;
  bottom: 20px;
  width: inherit;
  background: none;
  height: 64px;
  color: #5ed856;
  position: fixed;
}

.button.select-button-link:hover {
  background: none;
}

.footer {
  width: 100%;
  height: 80px;
  background: url(images/footer.png) repeat-x;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 80px;
  z-index: 3;
}

.duration {
  width: 300px;
  left: 50%;
  position: fixed;
  bottom: 4px;
  margin-left: -150px;
}


.description {
  width: 80%;
  max-width: 720px;
  font-size: 24px;
  line-height: 32px;
}

.description-big {
  font-size: 40px;
  width: 80%;
  max-width: 600px;
  line-height: 44px;
}
.description-small {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
}

.menu-options a {
  display: block;
  line-height: 56px;
  color: #5ed856;

}
.menu-options a:hover {
  color: #4BAC44;
}

.spacer {
  height: 20px;
  width: 100%;
}



.button {
  cursor: pointer;
  line-height: 64px;
  font-size: 20px;
  background-color: #5ed856;
  border-radius: 100px;
  color: #fff;
  width: 282px;
  height: 64px;
}


.button:hover {
  background-color: #4BAC44;
  cursor: pointer;
}

.button.button-disabled {
  opacity: 1;
  background: #265622;
  color: #808080 !important;
  cursor: pointer;
  border: none;
  outline: none;
}

.button.button-disabled:hover {
  background-color: #265622;
  color: #808080;
}

.create-playlist {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 200px;
  height: 64px;
  z-index: 3;
  display: block;
  cursor: pointer;
  font-size: 40px;
}

.create-playlist .button {
  width: 200px;
}

.spotify {
  background: url(images/spotify.png) no-repeat center center;
  width: 40px;
  height: 40px;
  background-size: contain;
  display: inline-block;
}

.create-playlist-count {
  color: #fff;
  opacity: 0.5;
}

.create-playlist-tick {
  width: 50px;
  vertical-align: middle;
  margin-right: 33px;
}

.play-button-control-wrapper {
  position: absolute;
  top: 36px;
  left: 67px;
  z-index: 2;
  transform: scale(1.5);
  transform-origin: 20px 20px;
}

.play-button-control-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.play-button {
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
  width: 38px;
  height: 38px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.play-button-control-wrapper.loaded .play-button {
  border: 4px solid #4BAC44;
  opacity: 1;
}

.play-button iframe {
  position: absolute;
  top: -21px;
  left: -21px;
}

.export-playlist a.button {
  color: #fff;
  height: 64px;
  width: 282px;
  display: block;
  z-index: 4;
}

.export-playlist input {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 100px;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  background: none;
  text-align: center;
  color: #fff;
  font-family: "Circular";
}

.visible {
  display: inherit;
}

.invisible {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 1280px) {
  .image {
    width: 350px;
    height: 350px;
  }
  .i2 {
    top: -150px;
    right: 350px;
  }
  .i3 {
    left: 400px;
  }
}

@media (max-width: 680px) {
  .content {
    background: rgba(0,0,0,0.2);
  }

  .image {
    width: 350px;
    height: 350px;
  }

  .i3 {
    bottom: 50%;
    left: 40%;
    margin-left: -175px;
    margin-bottom: -175px;
  }

  .i4 {
    top: 50%;
    left: 60%;
    margin-left: -175px;
    margin-top: -250px;
  }

  .i2 {
     top: 50%;
     left: 55%;
     margin-left: -175px;
     margin-top: -80px;
     -ms-transform: rotate(-7deg);
     -webkit-transform: rotate(-7deg);
     transform: rotate(-7deg);
  }

  .i1,.i5,.i6 {
    display: none;
  }

  .login .description {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
    width: 70%;
    margin-bottom: 32px;
  }

  .login .button {
    color: #fff;
    background: #3de76e;
    border: 1px solid #3de76e;
    font-size: 18px;
    width: 240px;
    height: 60px;
    line-height: 60px;
  }

  .grid-header {
    height: 60px;
  }
  .grid-col {
    min-height: 60px;
    width: 120px;
  }
  .grid-artist-name {
    font-size: 16px;
    height: 60px;
    width: 120px;
  }
  .grid-cell {
    width: 100px;
    height: 100px;
  }
  .grid-cell-label {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .number {
    display: none;
  }
  .grid-cell-tick {
    margin-left: 100px;
  }
  .play-button {
    display: none;
  }
  .duration {
    font-size: 16px;
    width: 100px;
    margin-left: -50px;
  }
  .menu-button-link {
    display: none;
  }
  .footer {
    height: 60px;
    line-height: 60px;
  }
  .select-button-link {
    font-size: 16px;
    left: 20px;
    bottom: 0px;
    width: inherit;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 64px;
    color: #5ed856;
  }
  .create-playlist {
    position: fixed;
    bottom: 16px;
    height: 40px;
    right: 10px;
    width: 80px;
    z-index: 3;
    display: block;
    cursor: pointer;
    font-size: 16px;
  }
  .create-playlist .button {
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .button {
    height: 50px;
    line-height: 50px;
    width: 200px;
    font-size: 16px;
  }
  .export-playlist a.button {
    height: 50px;
    line-height: 50px;
    width: 200px;
  }
  .content div {
    margin: 8px;
  }
  .spacer {
    height: 0;
    margin: 0;
    padding: 0;
  }
  .menu-options a {
    font-size: 24px;
    line-height: 40px;
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
  }
  .description-big {
    font-size: 24px;
    line-height: 32px;
  }
  .login-header {
    font-size: 48px;
    color: #fff;
  }
  .export-playlist input {
    font-size: 24px;
  }

}
