@font-face {
    font-family: "Circular";
    src: url("font/CircularStd-Book.woff");
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Circular";
  -webkit-font-smoothing: antialiased;
}
a {
  color: #fff;
  text-decoration: none;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  background-color: black;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.login-header {
  font-size: 72px;
}
.login-button {
  color: #fff;
  width: 282px;
  height: 64px;
}
.background {
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.content div {
  margin: 20px;
}

.percent {
  font-size: 200px;
  margin: 0 !important;
  padding: 0 !important;
}

.intro {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}


.main {
  background-color: #000000;
  position: relative;
  min-width: 100%;
  height: 100%;
}

.grid-outer {
  font-size: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.grid-header {
  height: 120px;
}

.grid-body {
  flex: 1;
}

.grid-col {
  float: left;
  width: 180px;
  min-height: 120px;
}

.grid-artist-name {
  color: #fff;
  display: block;
  font-size: 20px;
  height: 100px;
  overflow: hidden;
  width: 180px;
  position: absolute;
  z-index: 3;
  background: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-artist-name:hover {
  opacity: 0.5;
}

.grid-cell-wrapper {
  position: relative;
}

.grid-cell {
  display: inline-block;
  background-size: contain;
  width: 115px;
  height: 115px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 2px;
  border-radius: 100px;
}

.grid-cell:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
  z-index: 2;
  opacity: 1;
}
.grid-cell:hover + .grid-cell-label {
  opacity: 1;
}

.grid-cell:hover .grid-cell-label {
  opacity: 1;
}
.grid-cell-label {
  height: 20px;
  display: block;
}
.label {
  height: 20px;
  display: block;
  overflow: hidden;
}
.selected {
  opacity: 1;
}

.unselected {
  opacity: 0.2;
}
.selectedLabel {
  opacity: 1;
}
.unselectedLabel {
  opacity: 0.3;
}

.grid-cell-label {
  color: #ffffff;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  transition: opacity 0.1s linear;
}


.grid-cell-tick {
  position: absolute;
  margin-left: 140px;
  margin-top: -100px;
  height: 20px;
  width: 20px;
  background-color: #4BAC44;
  background-position: center center;
  background-image: url(images/tick.png);
  background-size: 13px 9px;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.menu-button-link {
  position: fixed;
  bottom: 20px;
  left: 30px;
  height: 64px;
  z-index: 3;
  display: block;
  cursor: pointer;
  font-size: 24px;
  color: #5ed856;
}
.menu-button-link:hover {
  opacity: 0.5;
}

.menu-header {
  text-decoration: underline;
}

.select-button-link {
  left: 120px;
  width: 55px;
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 64px;

}

.full-screen-menu, .full-screen-menu a {
  color: white;
  font-size: 40px;
  margin: 20px;
}

.footer {
  width: 100%;
  height: 80px;
  background: url(images/footer.png) repeat-x;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 80px;
  z-index: 3;
}
.select {
    position: fixed;
    bottom: 20px;
    left: 60px;
    height: 64px;
    z-index: 3;
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}
.select a {
  opacity: 0.5;
}
.select a:hover {
  opacity: 1;
}

.description {
  width: 80%;
  max-width: 800px;
  font-size: 24px;
  opacity: 0.8;
  line-height: 32px;
}
.description-big {
  font-size: 40px;
  width: 80%;
  max-width: 600px;
  line-height: 44px;
}
.description-small {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
}

.button {
  cursor: pointer;
  line-height: 64px;
  font-size: 20px;
  background-color: #5ed856;
  border-radius: 100px;
  color: #fff;
  width: 282px;
  height: 64px;
}

.button:hover {
  background-color: #4BAC44;
  cursor: pointer;
}

.button.button-disabled {
  opacity: 1;
  background: #265622;
  color: #808080 !important;
  cursor: pointer;
  border: none;
  outline: none;
}

.button.button-disabled:hover {
  background-color: #265622;
  color: #808080;
}

.create-playlist {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 500px;
  height: 64px;
  z-index: 3;
  display: block;
  cursor: pointer;
  font-size: 40px;
  text-align: right;
}
.create-playlist a {
  color: #5ed856;
}
.create-playlist a:hover {
  opacity: 0.8;
}

.spotify {
  background: url(images/spotify.png) no-repeat center center;
  width: 40px;
  height: 40px;
  background-size: contain;
  display: inline-block;
}
.create-playlist-count {
  color: #fff;
  opacity: 0.5;
}


.create-playlist-tick {
  width: 50px;
  vertical-align: middle;
  margin-right: 33px;
}

.play-button-control-wrapper {
  position: absolute;
  top: 36px;
  left: 67px;
  z-index: 2;
  transform: scale(1.5);
  transform-origin: 20px 20px;
}

.play-button-control-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.play-button {
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
  width: 38px;
  height: 38px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.play-button-control-wrapper.loaded .play-button {
  border: 4px solid #4BAC44;
  opacity: 1;
}

.play-button iframe {
  position: absolute;
  top: -21px;
  left: -21px;
}

.export-playlist a.button {
  color: #fff;
  height: 64px;
  width: 282px;
  display: block;
  z-index: 4;
}

.export-playlist input {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 100px;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  background: none;
  text-align: center;
  color: #fff;
  font-family: "Circular";
}

.visible {
  display: inherit;
}

.invisible {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
