@font-face {
    font-family: "Circular";
    src: url("font/CircularStd-Book.woff");
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Circular";
  -webkit-font-smoothing: antialiased;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 1;
}

.App {
  background-color: black;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.login {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-size: contain;
  background: url(images/background.jpg);
  background-size: cover;

}
.login div {
  margin: 16px;
}
.login-header {
  font-size: 72px;
}
.login-description {
  font-size: 24px;
  margin-bottom: 32px !important;
}

.login-button {
  color: #fff;
  width: 282px;
  height: 64px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-header {
  font-size: 24px;
}
.percent {
  font-size: 200px;
}
.intro {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}

.intro div {
  margin: 60px;
}
.intro-button {
  color: #fff;
  width: 282px;
  height: 64px;
  margin-top: 50px;
}

.main {
  background-color: #000000;
  position: relative;
  min-width: 100%;
  height: 100%;
}

.grid-outer {
  font-size: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.grid-header {
  height: 120px;
}

.grid-body {
  flex: 1;
}

.grid-col {
  float: left;
  width: 180px;
  min-height: 120px;
}

.grid-artist-name {
  color: #fff;
  display: block;
  font-size: 18px;
  height: 65px;
  padding-top: 49px;
  overflow: hidden;
  width: 180px;
  position: absolute;
  z-index: 3;
  background: #000;
  text-decoration: none;
}
.grid-artist-name:hover {
  opacity: 0.5;
}

.grid-cell-wrapper {
  position: relative;
}

.grid-cell {
  display: inline-block;
  background-size: contain;
  width: 115px;
  height: 115px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 2px;
  border-radius: 100px;
}

.grid-cell:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
  z-index: 2;
  opacity: 1;
}
.grid-cell:hover + .grid-cell-label {
  opacity: 1;
}

.grid-cell:hover .grid-cell-label {
  opacity: 1;
}
.grid-cell-label {
  height: 20px;
  display: block;
}
.label {
  height: 20px;
  display: block;
  overflow: hidden;
}
.selected {
  opacity: 1;
}
.unselected {
  opacity: 0.2;
}
.selectedLabel {
  opacity: 1;
}
.unselectedLabel {
  opacity: 0.3;
}

.grid-cell-label {
  color: #ffffff;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  transition: opacity 0.1s linear;
}


.grid-cell-tick {
  position: absolute;
  margin-left: 140px;
  margin-top: -100px;
  height: 20px;
  width: 20px;
  background-color: rgba(255,255,255,0.6);
  background-position: center center;
  background-image: url(images/tick.png);
  background-size: 13px 9px;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.menu-button {
  cursor: pointer;
}

.menu-button-link {
  line-height: 64px;
  width: 32px;
  height: 32px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px 20px;
  background-image: url(images/hamburger.png);
  background-repeat: no-repeat;
  background-size: 19px 15px;
  background-position: 26px 28px;
  opacity: 1;
  border-radius: 100px;
  z-index: 3;
}


.full-screen-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 40px;
  padding: 20px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  width: 80%;
  max-width: 960px;
}

.button {
  font-size: 20px;
  cursor: pointer;
  line-height: 64px;
  background-color: #5ed856;
  border-radius: 100px;
  color: #000;
}

.button:hover {
  background-color: #4BAC44;
}


.create-playlist {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 282px;
  height: 64px;
  z-index: 3;
  transition: width 0.1s ease-in;
}

.create-playlist.editing {
  width: 400px;
}

.create-playlist a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.create-playlist-input {
  margin-right: 8px;
  font-size: 24px;
  width: 280px;
  border-radius: 18px;
  padding: 4px;
  padding-left: 20px;
  margin-top: 13px;
  border: none;
  background: none;
  outline: none;
  color: #000;
  opacity: 0.5;
}

.create-playlist-go {
  border: none;
  border-radius: 20px;
  padding: 8px;
  color: #fff;
}

.play-button-control-wrapper {
  position: absolute;
  top: 36px;
  left: 67px;
  z-index: 2;
  transform: scale(1.5);
  transform-origin: 20px 20px;
}

.play-button-control-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.play-button {
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
  width: 38px;
  height: 38px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.play-button-control-wrapper.loaded .play-button {
  border: 4px solid #4BAC44;
  opacity: 1;
}

.play-button iframe {
  position: absolute;
  top: -21px;
  left: -21px;
}

.visible {
  display: inherit;
}

.invisible {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
